.suggestion-list {
    width: 100%;
    background: white;
    color: black;
    line-height: 1.5;
    border-radius: 20px;
    .row-item-suggestion-popup {
        padding: 5px 30px;
        margin: 5px 0px;
        :hover {
            background: #b0b6bf;
        }
    }
    .active {
        background: #b0b6bf;
    }
}

#autoComplete{
    outline: none;
    box-shadow: none !important;
}

.active-toggle {
    border: 0 !important;
    box-shadow: none !important;
}
.active-toggle-content {
    border: solid 0.7px rgba(34, 34, 34, 0.5);
    border-radius: 20px;
}