.suggestion-list {
    width: 100%;
    background: white;
    color: black;
    line-height: 1.5;
    border-radius: 20px;
    .row-item-suggestion-popup {
        padding: 2px 30px;
        margin: 0px 0px;
        :hover {
            background: #b0b6bf;
        }
    }
    .active {
        background: #b0b6bf;
    }
}

#autoComplete{
    outline: none;
    box-shadow: none !important;
    border: 0;
}
#autoComplete__content {
    border: solid 1px rgba(34, 34, 34, 0.5);
    border-radius: 20px;
}
.active-toggle {
    border-bottom: 1px solid black;
    box-shadow: none !important;
}

.active-toggle-content {
    padding-bottom: 20px;
}
